/* Sutogenerated text from */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: clip;
}

/* setting view height to full screen with linear gradient */
body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  
}

//// codepen code change
// body {
//     background-color: black;
//     height: 100vh; 
//     display: grid;
//     grid-template: 100% / 3fr repeat(54, 1fr) 3fr;
//     overflow: hidden;
//   }

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav ul{
  display: inline-flex;
}

nav ul li{
  list-style: none;
  margin-left: 20px; 
}

nav ul li a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 15px;
}

nav ul li a:hover{
  background: #fff;
  color: #2b1055;
}

nav ul li a.active{
  background: #fff;
  color: #2b1055;
}

nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

//when I hover over the navbar links its background color changes
nav ul li a:hover,
nav ul li a.active{
    background: #fff;
    color: #2b1055;
    border-radius: 10px;
}


// .container{
//   width: 100%;
//   height: 100vh;
// }

// img{
//   width: 100%;
//   height: 100%;
//   object-fit: fill; 
// }


//// codepen code change ////
// section {   
//   position: relative;
//   display: grid;
//   grid-template: 100%/3fr repeat(54, 1fr) 3fr;
//   overflow: hidden;
//   min-height: fit-content;
//   margin-top: calc(100px + 20px);
//   //css calculate the height of the nav and minus it from the height of the section
//   min-height: calc(100vh);
// }
 
  .cell {
    width: 100%;
    height: 100%;
    border: 1px solid #fff1;
    z-index: 2;
  }
  
  @for $i from 0 to 56 {
    .cell:nth-child(#{$i + 1}):hover ~ .content {
      --partialString: "#{str-slice("Here we could have some hidden text", 1, $i + 1)}";
      --size: 32px;
      --color: #fff;
    }
  }
  
  .content {
    --partialString: "Hover over the screen to reveal the text...";
    --color: #333;
    --size: px;
  
    position: absolute;
    top: 0; right: 0; bottom: 120px; left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em;
  }
  
  .text:after {
    content: var(--partialString);
    font-family: 'Poppins', sans-serif;
    font-size: var(--size);
    color: var(--color);
  }


// container mountain bg image
  .container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  } 

  .container::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
  }
  
  .container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  #text{
    position: absolute;
    right: -200px;
    color: #fff;
    white-space: nowrap; 
    font-size: 7.5vw;
    z-index: 9;
  }

  #mountains{
    filter: drop-shadow(2px 0px 0px #fff);
  }

  #stars{
  }
  
  #moon{
    mix-blend-mode: screen;
  }

  #landscape{
    z-index: 10;
  }

  .button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 15px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
    z-index: 9;
  }

  .sec{
    position: relative;
    padding: 100px;
    background-color: #1c0522;
  }

  .sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
  }

  .sec p{
    font-size: 1.2em;
    color: #fff;
  }

  footer{
    position: relative;
    padding: 100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #1c0522, transparent);
  }

  
  